@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #101920ff;
}

@font-face {
    font-family: "OldSport";
    src: url(./fonts/OldSport02AthleticNcv-E0gj.ttf);
}

p {
    font-size: 0.9em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

.header-image {
    background: url(/images/headerimg.png);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

header {
    height: 100vh;
    margin: 0;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav li {
    margin: 10px;
    transition: 100ms;
}

nav li:hover {
    transform: scale(1.1);
}

nav .logo {
    height: 70px;
}

.header-text {
    text-align: center;
    margin-top: 31vh;
}

.header-text h1 {
    color: rgb(240, 192, 0);
    font-size: 5.5em;
    font-family: "OldSport", cursive;
    letter-spacing: 6px;
    font-weight: 400;
    margin: 0;
}

.header-text .tagline {
    margin-top: -10px;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
}

button {
    border-radius: 100px;
    border: none;
    background-color: rgb(240, 192, 0);
    padding: 10px;
    width: 200px;
    height: 50px;
    pointer-events: none;
    transition: 500ms;
}

button:hover {
    background-color: rgba(240, 192, 0, 0.9);
}

button a {
    letter-spacing: 2px;
    font-size: 1.7em;
    cursor: pointer;
    color: black;
    font-weight: 600;
    pointer-events: all;
}

.grey-container {
    margin: 0;
}

.gallery {
    min-height: 1250px;
    display: grid;
    margin: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(auto, 3);
    grid-template-areas: "img1 desc1" "desc2 img2" "img3 desc3";
}

.container-left1 {
    min-height: 200px;
    grid-area: img1;
    background: url(/images/gallery1.png);
    background-position: center;
    background-size: cover;
}

.container-right1 {
    min-height: 200px;
    grid-area: desc1;
}

.container-left2 {
    min-height: 200px;
    grid-area: desc2;
}

.container-right2 {
    min-height: 200px;
    grid-area: img2;
    background: url(/images/gallery2.jpg);
    background-position: center;
    background-size: cover;
}

.container-left3 {
    min-height: 200px;
    grid-area: img3;
    background: url(/images/gallery3.jpg);
    background-position: center;
    background-size: cover;
}

.container-right3 {
    min-height: 200px;
    grid-area: desc3;
}

.gallery-img-description {
    color: rgb(240, 192, 0);
    margin: 50px;
    line-height: 2;
    text-align: left;
}

span {
    display: block;
    font-size: 3em;
    color: white;
}